body{
    margin:0;
    padding:0;
    background:#121212;
    color:white;
    font-family:Arial;
}

.contenedor{
    width:90%;
    max-width:800px;
    margin:auto;
    padding:30px;
}

h1{
    text-align:center;
}

.formulario{
    display:flex;
    gap:10px;
    margin-bottom:30px;
}

input{
    flex:1;
    padding:12px;
    border:none;
    border-radius:8px;
}

button{
    padding:12px 20px;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

.usuarios{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.card{
    background:#1f1f1f;
    padding:15px;
    border-radius:10px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.acciones{
    display:flex;
    gap:10px;
}